{
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-toml",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro",
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore",
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.toml"],
      "options": {
        "keyValueEqualsSignAlignment": true,
        "trailingCommentAlignment": false,
        "indentSubTables": true,
        "groupBlankLinesLimit": 4,
        "indentTableKeyValuePairs": true
      }
    }
  ]
}
